html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: black;
  font-weight: 700;
  display: inline-block;
  transition: all 200ms ease;
  text-decoration: none;
  border-bottom: 2px solid black;
}

a:hover {
  border-bottom-color: transparent;
}

* {
  box-sizing: border-box;
}

.mobile {
  display: none;
}

@media (max-width: 640px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.container-yt {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.iframe-yt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.notion-viewport {
  z-index: -100;
}

.notion-header {
  display: none;
}

.notion-container {
  max-width: 100vw;
}

.notion-full-page {
  padding-bottom: 0 !important;
}

.timeline-entry {
  margin-left: 2rem;
  padding: 1rem 0rem;
}

.timeline-entry > dt:before {
  content: ' ';
  background: white;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid black; /* was #22c0e8 */
  margin-left: -2.75rem;
  margin-right: 2rem;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.timeline-entry > dt, .timeline-entry > dd {
  
}

.timeline-bg {
  display: block;
  height: inherit;
  border-left: solid black 3px;
  margin-left: 4rem;
}

.tech-level{
  display: grid;
  gap: 1rem;
  max-height: 0;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}